extend ./layout

block content
	.container
		form.adminEdit(method = 'post' action = '/editSubmit/#{uploadImg}' enctype='multipart/form-data')
			input(name = '_id' value = '#{article._id}' type = 'hidden')
			p
				span 影片名称:
				input(name = 'title' value = '#{article.title}')
			p
				span 概述:
				input(name = 'summary' value = '#{article.summary}')
			p
				span 上映信息:
				input(name = 'oninfor' value = '#{article.oninfor}')
			p
				span 想看人数:
				input(name = 'want' value = '#{article.want}')
			p
				span 评分:
				input(name = 'score' value = '#{article.score}')
			p
				span 影片英文名:
				input(name = 'title_en' value = '#{article.title_en}')
			p
				span 所属分类:
				input(name = 'sort' value = '#{article.sort}')
			p
				span 所属地区:
				input(name = 'area' value = '#{article.area}')
			p
				span 时长分钟:
				input(name = 'last_time' value = '#{article.last_time}')
			p
				span 演员:
				input(name = 'actor' value = '#{article.actor}')
			p
				span 剧照:
				input(name = 'photos' value = '#{article.photos}')
			p
				span 销售状态:
				select(name = 'sale' class='sale')
					option(value = '0' selected) 未上映
					option(value = '1') 预售
					option(value = '2') 购票
			p
				span 封面地址:
				a.upBtn 上传
				input(type='file' name = 'upload' multiple="multiple" id = 'uploadBtn')
				input(type='hidden' name = 'image' value = '#{article.image}')
			p.uploadImg
				image(src = '/movieImgs/#{article.image}')
			p
				span 具体描述:
				textarea(name = 'detail') #{article.detail}
			div.submit
				button.btnsub(type = 'submit') Submit
				a.btnbak(onclick = 'window.location.href = "/admin"') Back

	script.
		$(function(){
			var strSale = (#{article.sale}).toString()

			$(".sale option").each(function(){
				if($(this).val() === strSale){
					$(this).attr("selected","selected")
				}
			})
	
			$(".upBtn").click(function(){
				$("#uploadBtn").click()
			})
			$("#uploadBtn").change(function(){
				$(".adminEdit").attr('action','/editSubmit/1')
				$(".submit .btnsub").click()
			})
		})
		

